.btn-back {
  margin: 1rem 0;
  background: var(--clr-elements);
  border-radius: 0.2rem;
  display: inline-flex;
  align-items: center;
  color: var(--clr-text);
  border: var(--border-shadow);
  padding: 0.25rem;
}

.p-back {
  font-size: var(--fs-500);
  margin-left: 0.25rem;
  margin-right: 1.5rem;
}

.arrow-icon {
  margin-left: 1.5rem;
  margin-right: 0.25rem;
}

.detail-name {
  font-size: var(--fs-500);
  font-weight: 800;
  padding: 1rem 0;
}

.detail-info {
  font-size: var(--fs-300);
  padding: 1rem 0;
  line-height: 2;
}

.detail-border {
  font-weight: 600;
}

.border-div {
  margin: 1rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.btn-border {
  background: var(--clr-elements);
  color: var(--clr-text);
}
