.detail-section {
  margin: 0 1rem;
}

.btn-back {
  margin: 2rem 0 2rem 0;
  background: var(--clr-elements);
  border-radius: 0.2rem;
  display: inline-flex;
  align-items: center;
  color: var(--clr-text);
  border: var(--border-shadow);
  padding: 0.25rem;
}

.btn-back:hover,
.btn-back:active {
  background: var(--clr-hover);
}

.p-back {
  font-size: var(--fs-500);
  margin-left: 0.25rem;
  margin-right: 1.5rem;
}

.arrow-icon {
  margin-left: 1.5rem;
  margin-right: 0.25rem;
}

.detail-section img {
  max-width: 315px;
  margin: 0 auto;
}

.detail-name {
  font-size: var(--fs-500);
  font-weight: 800;
  padding: 2rem 0 1rem 0;
}

.detail-info {
  font-size: var(--fs-300);
  padding: 1rem 0;
  line-height: 2;
}

.detail-border {
  font-weight: 600;
}

.border-div {
  padding: 1rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.btn-border {
  background: var(--clr-elements);
  color: var(--clr-text);
}

.btn-border:hover,
.btn-border:active {
  background: var(--clr-hover);
}

/* Tablet */
@media screen and (min-width: 481px) {
}

/* Laptop Screen */
@media screen and (min-width: 769px) {
  .detail-section img {
    max-width: 40%;
    margin: 0;
    padding: 0 1rem;
  }

  .detail-flex {
    display: flex;
    gap: 1rem;
  }

  .detail-div {
    width: 100%;
    padding-inline: 1rem;
  }

  .detail-name {
    padding: 1rem 0;
  }

  .detail-p-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* Desktop Screen */
@media screen and (min-width: 1051px) {
  .detail-flex {
    gap: 3rem;
  }
  .detail-section img {
    max-width: 50%;
  }

  .detail-p-flex {
    flex-direction: row;
    justify-content: space-between;
  }
}
