.dropdown {
  position: absolute;
  z-index: 1000;
  background: var(--clr-elements);
  width: 100%;
  min-width: 13rem;
  max-width: 17rem;
  border-radius: var(--border-rad);
  padding: 1rem;
  border: var(--border-shadow);
}

.dropdown-item {
  padding: 0.5rem;
  font-size: var(--fs-500);
}
