/* Common properties classes */

.filter-wrapper,
.filter-btn {
  border-radius: var(--border-rad);
}

/* Classes in order from Top to Bottom, Left to Right */

.filter-wrapper {
  margin: 1rem 0;
  border: var(--border-shadow);
}

.filter-btn {
  position: relative;
  height: 4rem;
  min-width: 13rem;
  max-width: 17rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background: var(--clr-elements);
  font-size: var(--fs-500);
  font-weight: 600;
  color: var(--clr-text);
}

@media screen and (min-width: 750px) {
  .filter-btn {
    width: 17rem;
  }
}

/* Tablet */
@media screen and (min-width: 481px) {
}

/* Laptop Screen */
@media screen and (min-width: 769px) {
  .filter-btn {
    width: 17rem;
  }
}

/* Desktop Screen */
@media screen and (min-width: 1025) {
}
