/* Classes in order from Top to Bottom, Left to Right */

.header {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-elements);
  height: 5rem;
  padding-inline: 1rem;
}

.header-h1 {
  font-size: var(--fs-500);
  font-weight: 800;
}

.theme-btn {
  font-size: var(--fs-400);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding-inline: 1em;
  background-color: transparent;
}

/* Media Queries */

/* Tablet */
@media screen and (min-width: 481px) {
}

/* Laptop Screen */
@media screen and (min-width: 769px) {
}

/* Desktop Screen */
@media screen and (min-width: 1025) {
}
