.spinner-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

path {
  fill: var(--clr-text);
}
