.App {
  min-width: 300px;
}

.search-section {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  flex-direction: column;
}

.country-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

/* Tablet */
@media screen and (min-width: 481px) {
}

/* Laptop Screen */
@media screen and (min-width: 769px) {
  .search-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Desktop Screen */
@media screen and (min-width: 1025) {
}
